name: Build and publish Docker images for devcontainer

on: 
  pull_request: 
    types: closed
    paths: 
    - "Dockerfile"
    - ".github/workflows/publish_docker.yml"
  schedule:
    - cron: "24 2 * * 6" # Every Saturday morning 02:24
  workflow_dispatch:

jobs:
  build-and-publish:
    permissions:
      packages: write
    runs-on: ubuntu-latest
        
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: PR Tag
      if: github.event.pull_request.merged
      run: |
        echo "TAG=pr${{ github.event.number  }}" >> $GITHUB_ENV

    - name: Date Tag
      if: ${{ ! github.event.pull_request.merged }}
      run: |
        echo "TAG=$(date -I)" >> $GITHUB_ENV

    - name: Define Image Metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ghcr.io/musicalninjas/pyo3-devcontainer
        tags: |
          type=raw,value=${{ env.TAG }}
          type=raw,value=latest

    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}